# === DATASETS / LARGE FILES ===
archive/
archive.zip
dataset/
data/
*.nii
*.nii.gz
outputs/

# === MODEL ARTIFACTS ===
checkpoints/*
!checkpoints/best.pth
!checkpoints/.gitkeep
!checkpoints/leakage_safe/
checkpoints/leakage_safe/*
!checkpoints/leakage_safe/.gitkeep

# === GENERATED EVALUATION RESULTS ===
results/01_base_model/leakage_safe/*
!results/01_base_model/leakage_safe/.gitkeep

# === PYTHON CACHES ===
__pycache__/
*.py[cod]
*.pkl

# === NOTEBOOKS ===
.ipynb_checkpoints/

# === VIRTUAL ENVS ===
.venv/
venv/
env/

# === LOGS / TEMP ===
*.log
*.tmp

# === EDITORS / IDE ===
.vscode/
.idea/

# === OS FILES ===
.DS_Store
Thumbs.db
desktop.ini
